.card{
    border: 1px solid rgb(24, 43, 181); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
  }
  .card:hover{
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
    transition: all 0.4s ease;
  }
  .card-rating{
    display: flex;
    align-items: center;
  }
 
  .card img{
    height: 150px;
    margin-top: .5rem;
  }
  
  .main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  .card button{
    padding: .5rem;
    background-color: rgb(255, 19, 110);
    color: var(--white);
    border: none;
    border-radius: 10px;
    margin-bottom: .5rem;
    cursor: pointer;
  }

  .card-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .main-container{
    margin: 0 1rem;
  }
  
  .card-authors{
    
  }

  .card-title{
    
  }