@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white:#FFFFFF ;
}

body{
  background-color: #020024;
  font-family: 'Catamaran';
  color: var(--white);

}

.card{
  border: 2px solid red;
}

.card img{
  height: 200px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}